@media (max-width: 1140px) {
  .conquer {
    background-size: 100% 100%;
  }

  .conquer__inner {
    padding: 100px 0px;
    margin-bottom: 0px;
    color: #FFFFFF;
  }

  .conquer__title {
    color: #FFFFFF;
  }

  .advantages__items {
    padding-bottom: 80px;
  }

  .advantages__item {
    max-width: 350px;
    margin-bottom: 25px;
  }

  .advantages__title {
    max-width: 210px;
    min-height: 60px;
  }

  .advantages__inner {
    flex-direction: column;
  }

  .advantages__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .stats {
    max-width: 340px;
    flex-basis: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .stats__item span {
    max-width: 350px;
    padding-left: 0px;
  }

  .advantages__info p:not(:last-child) {
    margin-bottom: 10px
  }

  .conquer__title {
    font-size: 42px;
    margin-bottom: 68px;
  }

  .gallery__title {
    font-size: 44px;
    margin-bottom: 100px;
  }

  .gallery__inner {
    justify-content: center;
    margin-right: 0px;
  }

  .gallery__item {
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .blockquote {
    padding: 80px 10px;
    font-size: 34px;
  }

  .slider__item {
    padding: 382px 0;
  }

  .slider__title {
    font-size: 42px;
  }

  .team__items {
    flex-wrap: wrap;
    justify-content: space-around;
    
  }

  .team__item {
    padding: 0px 40px;
    margin-bottom: 70px;
  }

  .price {
    padding: 100px 0;
  }

  .price__title {
    margin-bottom: 100px;
  }

  .price__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .price__box {
    margin: 0px 15px;
  }

  .price__box:not(:last-child) {
    margin-bottom: 60px;
  }

  .price__box:hover {
    transform: scale(1.0);
  }

  .price__item {
    margin-bottom: 20px;
  }

}

@media (max-width: 1000px) {
  .header__nav {
    align-self: flex-end;
  }

  .header {
    position: relative;
  }

  .header__inner {
    position: static;
  }

  .header__logo {
    left: 10px;
  }

  .menu {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding-bottom: 8px;
    flex-direction: column;
    justify-content: center;
    background-color: teal;
    transform: translateY(-200%);
  }

  .menu__item {
    padding: 20px 0px;
  }

  .menu__link {
    font-size: 28px;
    text-transform: uppercase;

  }

  .menu__item:not(:last-child) {
    margin-right: 0px;
  }

  .burger__btn {
    display: block;
  }

  .header__title {
    font-size: 22px;
  }

  .header__title span {
    font-size: 170px;
  }

  .about,
  .advantages {
    padding: 80px 0;
  }

  .about__title {
    padding: 0px 50px;
  }

  .about__title,
  .advantages__headline {
    margin-bottom: 68px;
    font-size: 42px;
  }

  .about__text p {
    max-width: 430px;
    padding: 0px 5px;
  }

  .blockquote {
    font-size: 30px;
    max-width: max-content;
  }

  .blockquote__author {
    transform: translateX(20%);
  }

  .video {
    min-height: 500px;
  }

  .blog__title {
    margin-bottom: 170px;
  }

  .slider__item {
    padding: 340px 0;
  }

  .slider__descr {
    padding: 0px 10px;
  }

  .slider__title {
    font-size: 36px;
  }

}

@media (max-width: 880px) {
  .header__title {
    font-size: 20px;
    line-height: 1;
  }

  .header__title span {
    font-size: 150px;
  }

  .advantages__headline {
    margin-bottom: 50px;
    font-size: 36px;
  }

  .about__title,
  .conquer__title {
    font-size: 36px;
  }

  .about__text p {
    max-width: 360px;
  }

  .title::after {
    font-size: 58px;
  }  

  .conquer__title {
    margin-bottom: 50px;
  }

  .conquer__inner {
    max-width: 400px;
    padding: 50px 0px;
  }

  .gallery {
    padding-bottom: 150px;
  }

  .gallery__title {
    font-size: 40px;
    margin-bottom: 100px;
  }

  .gallery__more {
    margin: 0 auto 100px;
  }

  .quote {
    margin-bottom: 80px;
  }

  .blockquote {
    padding: 50px 10px;
    font-size: 24px;
  }

  .blockquote__author {
    transform: translateX(12%);
  }

  .video {
    min-height: 400px;
    margin-bottom: 160px;
  }

  .blog__title {
    font-size: 42px;
  }

  .slider__item {
    padding: 320px 0;
  }

  .slider__title {
    font-size: 32px;
  }

  .team__title {
    font-size: 42px;
    margin-bottom: 150px;
  }

  .price__title {
    font-size: 42px;
  }

  .map {
    padding: 100px 0px;
  }

  .contacts__title {
    margin-bottom: 100px;
    font-size: 42px;
  }

  .contacts__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  .form {
    width: 70%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .form__submit {
    margin: auto auto; 
  }

  .contacts__text {
    width: 77%;
    padding: 35px 35px;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 18px;
  }

  .header__title span {
    font-size: 150px;
  }

  .about,
  .advantages {
    padding: 40px 0;
  }

  .about__title {
    margin-bottom: 40px;
    font-size: 32px;
    padding: 0px 10px;
  }

  .title::after {
    font-size: 52px;
  }

  .about__text p {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .advantages__items {
    padding-bottom: 50px;
  }

  .advantages__item {
    max-width: 80%;
  }

  .gallery__title {
    margin-bottom: 70px;
  }

  .gallery__filter {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .gallery__btn {
    padding: 10px 40px;
    border: 2px solid teal;
    border-radius: 7px;
  }

  .gallery__btn:not(:last-child) {
    margin: 5px 0;
  }

  .gallery__btn:hover {
    color: #FFFFFF;
    background-color: teal;
  }

  .blockquote {
    font-size: 20px;
  }

  .blockquote__author {
    font-size: 12px;
    transform: translateX(7%);
  }

  .gallery {
    padding-bottom: 100px;
  }

  .gallery__more {
    font-size: 20px;
    padding: 25px 55px 25px;
    margin: 0 auto 50px;
  } 

  .video {
    min-height: 300px;
    margin-bottom: 140px;
  }

  .statistics {
    flex-wrap: wrap;
  }

  .statistics__item {
    width: 50%;
    margin-bottom: 20px;
  }

  .blog__title {
    font-size: 38px;
    margin-bottom: 130px;
  }

  .slider__item {
    padding: 300px 0;
  }

  .slider__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .slider__subtitle {
    font-size: 12px;
  }

  .price__title {
    font-size: 38px;
  }

  .price__box {
    min-height: 530px;
  }

  .price__name {
    margin-bottom: 36px;
    font-size: 26px;
  }

  .contacts__title {
    font-size: 36px;
  }
}

@media (max-width: 692px) {
  .header__title span {
    font-size: 120px;
  }

  .about__title {
    font-size: 20px;
  }

  .title::after {
    font-size: 44px;
  }

  .conquer {
    margin: 50px 0px;
  }

  .conquer__title {
    font-size: 32px;
    margin-bottom: 38px;
  }

  .gallery__title {
    font-size: 32px;
  }

  .gallery__more {
    font-size: 18px;
    padding: 20px 40px 20px;
    margin: 0 auto 50px;
  }

  .blog {
    margin-bottom: 100px;
  }

  .blog__title {
    font-size: 32px;
    margin-bottom: 100px;
  }

  .slider {
    margin-bottom: 50px;
  }

  .team__title {
    font-size: 38px;
    margin-bottom: 70px;
  }

  .team__item {
    margin-bottom: 40px;
  }

  .price__title {
    font-size: 34px;
    margin-bottom: 70px;
  }

  .contacts__title {
    font-size: 27px;
  }

  .form {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .contacts__text {
    width: 100%;
    padding: 35px 35px;
  }
}

@media (max-width: 600px) {
  .header__title span {
    font-size: 100px;
  }

  .header__title {
    font-size: 16px;
  }

  .header__link {
    width: 15px;
    height: 52px;
    margin: 60px 0;
  }

  .about__title {
    font-size: 20px;
  }

  .title::after {
    font-size: 38px;
    transform: translateX(-24%);
  }

  .about__text p {
    margin-bottom: 12px;
  }

  .advantages__headline {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .advantages__item {
    max-width: 100%;
  }

  .advantages__title {
    font-size: 19px;
  }
  
  .conquer__title {
    font-size: 24px;
    margin-bottom: 26px;
  }

  .conquer__inner {
    padding: 40px 0;
  }
  
  .gallery {
    padding-bottom: 70px;
  }

  .gallery__title {
    font-size: 28px;
  }

  .video {
    margin-bottom: 100px;
  }

  .statistics__item {
    font-size: 56px;
  }

  .gallery__btn {
    padding: 8px 30px;
    font-size: 18px;
  }

  .blog__title {
    font-size: 28px;
    margin-bottom: 70px;
  }

  .slider__item {
    padding: 232px 0;
  }

  .slider__descr {
    text-align: center;
    left: 0%;
    right: 0%
  }

  .team__title {
    font-size: 28px;
    margin-bottom: 60px;
  }

  .team__item {
    padding: 0px 20px;
  }

  .price__title {
    font-size: 28px;
  }

  .contacts__text {
    font-size: 20px;
  }

  .footer {
    padding: 30px 10px;
  }
}

@media (max-width: 400px) {
  .header__title {
    font-size: 14px;
  }

  .header__title span {
    font-size: 86px;
  }

  .header__link {
    margin: 40px 0;
  }

  .stats__item span {
    max-width: 300px;
  }

  .wave-short {
    width: 244px;
  }

  .wave-middle {
    width: 256px;
  }

  .wave-middle::before {
    width: 212px;
  }

  .wave-long::before {
    width: 254px;
  }  

  .blockquote {
    padding: 30px 10px;
    font-size: 16px;
  }

  .blockquote__author {
    font-size: 11px;
    text-align: center;
    line-height: 2;
    transform: translateX(0%);
  }

  .video {
    margin-bottom: 70px;
  }

  .statistics__item {
    width: 100%;
    font-size: 52px;
  }

  .team__title {
    font-size: 25px;
  }

  .form__submit {
    padding: 20px 80px;
  }

  .social__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

  .social__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}